<!DOCTYPE html>
<html>
<head>
    {% block head %}

    <title>Raspberry Pi LAN Monitor</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Monitoring tool for local area networks.">
    <meta name="author" content="Piotr Sierota">

    {%- block styles %}
    <link rel="stylesheet" href="{{url_for('.static', filename='css/bootstrap.min.css')}}">
    {%- endblock styles %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {%- endblock head %}
</head>

<body>
{% block content %}

{%- endblock content %}
</div>
{% block scripts %}

{%- endblock scripts %}

</body>
</html>
