{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Raspberry Pi LAN Monitor</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('dashboard') }}">Wyniki</a></li>
                <li><a href="{{ url_for('settings') }}">Ustawienia</a></li>
                <li><a href="{{ url_for('logout') }}">Wyloguj</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h3 class="page-header">Witaj, {{ name }}
</h3>
    <div class="row">
        <a href="{{ url_for('toggle_monitoring') }}" class="btn btn-primary">
            {% if user.monitoring_activated == 0 %}
            Rozpocznij monitorowanie sieci
            {% else %}
            Wstrzymaj monitorowanie sieci
            {% endif %}
        </a>

    </div>


</div>

{%- endblock content %}
