{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3 class="page-header">Ustawienia
            </h3>
            <form action="{{ url_for('change_range') }}" method="POST" action="">
                {{ settings_form.hidden_tag() }}
                <div class="row">
                    <div class="col-md-4">
                        {{ wtf.form_field(settings_form.target) }}
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" name="submit-btn" value="Zmień zakres">
            </form>
            <form action="{{ url_for('change_password') }}" method="POST" action="">
                {{ password_reset_form.hidden_tag() }}
                <div class="row">
                    <div class="col-md-4">
                        {{ wtf.form_field(password_reset_form.current_password) }}
                        {{ wtf.form_field(password_reset_form.new_password) }}
                        {{ wtf.form_field(password_reset_form.repeated_new_password) }}
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" name="submit-btn" value="Zmień hasło">
            </form>
        </div>
    </div>
{%- endblock content %}
